@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
 margin: 0;
 padding: 0;
 display: flex;
 padding-top: 5%;
 justify-content: center;
 height: 100vh;
 background-color: black;
 font-family: 'Bad Script', cursive;
}
h1{
  margin: 0;
  padding: 0;
  color: #111;
  font-size: 5em;
}
h1 span{
  display: table-cell;
  margin: 0;
  padding: 0;
  animation: animate 2s linear infinite;
}
h1 span:nth-child(1){
  animation-delay: 0.20s;
}
h1 span:nth-child(2){
  animation-delay: 0.40s;
}
h1 span:nth-child(3){
  animation-delay: 0.60s;
}
h1 span:nth-child(4){
  animation-delay: 0.80s;
}
h1 span:nth-child(5){
  animation-delay: 1.0s;
}
h1 span:nth-child(6){
  animation-delay: 1.20s;
}
h1 span:nth-child(7){
  animation-delay: 1.40s;
}
h1 span:nth-child(8){
  animation-delay: 1.60s;
}
h1 span:nth-child(9){
  animation-delay: 1.80s;
}
h1 span:nth-child(10){
  animation-delay: 2.0s;
}
h1 span:nth-child(11){
  animation-delay: 2.20s;
}
h1 span:nth-child(12){
  animation-delay: 2.40s;
}
h1 span:nth-child(13){
  animation-delay: 2.60s;
}
h1 span:nth-child(14){
  animation-delay: 2.80s;
}
h1 span:nth-child(15){
  animation-delay: 3.0s;
}
h1 span:nth-child(16){
  animation-delay: 3.20s;
}
h1 span:nth-child(17){
  animation-delay: 3.40s;
}
h1 span:nth-child(18){
  animation-delay: 3.60s;
}
h1 span:nth-child(19){
  animation-delay: 3.80s;
}
h1 span:nth-child(20){
  animation-delay: 4.00s;
}
h1 span:nth-child(21){
  animation-delay: 4.20s;
}
h1 span:nth-child(22){
  animation-delay: 4.40s;
}
h1 span:nth-child(23){
  animation-delay: 4.60s;
}
.page:nth-child(1){
  animation-delay: 0.20s}
.page .btn a:nth-child(2){
  animation-delay: 0.30s;}
  .page .btn :nth-child(3){
  animation-delay: 0.40s;}
@keyframes animate{
  0%,100%{
    color: #fff;
    filter:blur(2px);
    text-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px #00b3ff,
                0 0 120px #00b3ff,
                0 0 200px #00b3ff,
                0 0 400px #00b3ff;
  }
  5%,95%{
    color: #111;
    filter:blur(0px);
    text-shadow: 0 0 10px none;
  }
}
.page {
   width: 190px;
  height: 160px;
  position: absolute;
  margin:2% auto;
  background:rgba(0,0,0,0.3);
  padding:20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: animate 0.5s linear infinite;
  text-align: center;
}
.page .btn{
  width: 95%;
  position: relative;
  text-align: center;
  padding: 10px;
  font-size: 20px; 
  border: 5px solid #00b3ff;
  cursor: pointer;
  border-radius: 100px;
  transition: 1.5s;
  }
.page .btn a{
  color: white;
  text-decoration: none;
  
}
.page .btn:hover{
  opacity: 0.7;
}


