 body{
	height: 100vh;
  width: 100%;
  background-image: url(update.jpg);
  background-attachment: fixed;
  padding: 0 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; 
	position: relative;
	color: white;
}

